#faq-accordion a {
    margin: 20px;
    padding: 0;
    color: #E24E35;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);

}
div.details-qr > div {
    margin: 30px 45px 10px 0;
    padding: 10px;
    border: 5px solid rgba(226, 98, 54, 0.70);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
div.details-qr div div:first-child div {
    font-family: "walker bot ldr";
    text-align: center;
    color: rgba(226, 98, 54, 0.90);
    font-size: 2em;
    font-weight: bold;
}
div.details-qr form {
    margin-top: 0;
    text-align: center;
}
a.accordion-toggle span {
    font-weight: bold;
    font-size: 110%;
}

a.accordion-toggle {
    padding: 0 !important;
    margin: 12px !important;
}

#faq-accordion .accordion-heading.ard .accordion-toggle {
    background-position: 98% 1px;
}

#faq-accordion .accordion-heading.arr .accordion-toggle {
    background-position: 98% 1px;
}
.user-name {
    font-size: 1.6em;
}
.details-usr ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.details-usr ul li.checked-usr {
    background-image: url('../img/checkmark1.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 30px;
    margin: 5px 0 5px 0;
}
.details-usr ul li.unchecked-usr {
    background-image: url('../img/unchecked.gif');
    background-repeat: no-repeat;
    background-position:0 2px;
    padding-left: 30px;
    margin: 5px 0 5px 0;
}